.main-container{
    display: flex;
    margin:0%;
    padding: 20px;
    flex-direction: column;
}


.header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header:hover{
    cursor: pointer;
    color: blue;

}

