body{
    background-color: aliceblue;
    margin: 0%;
    padding: 0%;
}

.info-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
    height: 90vh;
    background-color: rgb(255, 255, 255);
} 

.info-container button{
  background-color: #007bff;
  color: white;
  margin-right: 5px;      
  margin-left: 20px;     
  margin-bottom: 20px;
}

.info-container img{
    transform: translateY(-5px); 
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}
